
<div class="row">
  <div class="col-md-12">
      <nb-card status='primary'>
          <nb-card-header>
            Data Imported
          </nb-card-header>
          <nb-card-body>
            <div class="control-section">
              <ejs-grid #grid [dataSource]='data' allowPaging=true allowSearching=true  allowFiltering=true [pageSettings]='pageSettings' [toolbar]='toolbar'>
                  <e-columns>
                      <e-column field='CompanyCode' headerText='Company Code' width='120' textAlign='Center'></e-column>
                      <e-column field='StockExchange' headerText='Stock Exchange' width='120' textAlign='Center'></e-column>
                      <e-column field='PricePerShare' headerText='Price Per Share' width='120' textAlign='Center'></e-column>
                      <e-column field='Date' headerText='Date' width='120' textAlign='Center'></e-column>
                      <e-column field='Time' headerText='Time' width='120' textAlign='Center'></e-column>
                  </e-columns>
              </ejs-grid>
            </div>
          </nb-card-body>
          <button nbButton fullWidth size="large" status="primary" (click)="open()"> Save </button>
      </nb-card>
  </div>
</div>