<div class="row">
    <div class="col-md-12">
        <nb-card status="primary">
            <nb-card-header>
              Comparison
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <nb-card status="control" accent="danger">
                            <nb-card-header class="comparison-header">Compare Company Stock Price</nb-card-header>
                            <nb-card-body>
                                <nb-card accent="info">
                                    <nb-card-header class="companycomparison-header">Select one or two companies:</nb-card-header>
                                        <nb-card-body>
                                            <ejs-multiselect #company id='company-select' [dataSource]='companyName' [mode]='default' [fields]='fields' [placeholder]='waterMark'></ejs-multiselect>
                                        </nb-card-body>
                                </nb-card>
                                <nb-card accent="info">
                                    <nb-card-header class="companycomparison-header">Select date:</nb-card-header>
                                        <nb-card-body>
                                            <ejs-datepicker #companyDate id='datepicker'></ejs-datepicker>
                                        </nb-card-body>
                                </nb-card>
                                <button nbButton fullWidth size="large" status="primary" (click)='gotoComparisonChart()'> Generate Chart</button>
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <div class="col-md-6">
                        <nb-card status="control" accent="success">
                            <nb-card-header class="comparison-header">Compare Sector Stock Price</nb-card-header>
                            <nb-card-body>
                                <nb-card accent="info">
                                    <nb-card-header class="companycomparison-header">Select one or two Sectors:</nb-card-header>
                                        <nb-card-body>
                                            <fsd-different-sector></fsd-different-sector>
                                        </nb-card-body>
                                </nb-card>
                                <nb-card accent="info">
                                    <nb-card-header class="companycomparison-header">Select date:</nb-card-header>
                                        <nb-card-body>
                                            <ejs-datepicker id='datepicker'></ejs-datepicker>
                                        </nb-card-body>
                                </nb-card>
                                <button nbButton fullWidth size="large" status="primary"> Generate Chart</button>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>





