<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
   <nb-card>
      <nb-card-header>Company Stock Information</nb-card-header>
       <nb-card-body>
        <div class="row">
          <div class="col-md-4">
            <nb-card status="primary">
              <nb-card-header>
                Company code: {{companyDetailsData.companyCode}}
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card status="danger">
              <nb-card-header>
                Exchange: {{companyDetailsData?.exchangeName}}
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card status="info">
              <nb-card-header>
                Sector: {{companyDetailsData?.sectorName}}
              </nb-card-header>
            </nb-card>
          </div>
        </div>
       </nb-card-body>
    </nb-card>
    
    <nb-accordion multi>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Stock Price Chart
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <ejs-stockchart id="chart-container" [primaryXAxis]='primaryXAxis'[primaryYAxis]='primaryYAxis' [title]='title'>
            <e-stockchart-series-collection>
                <e-stockchart-series [dataSource]='stockchartData' type='Candle' xName='date' High='high' Low='low' Open='open' Close ='close' Name='Apple'></e-stockchart-series>
            </e-stockchart-series-collection>
          </ejs-stockchart>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Turnover
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          {{companyDetailsData?.turnOver}}
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          CEO
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          {{companyDetailsData?.ceoName}}
        </nb-accordion-item-body>
      </nb-accordion-item>
      
      <nb-accordion-item>
        <nb-accordion-item-header>
          About 
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          {{companyDetailsData?.brief}}
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
