<div class="control-section">
  <ejs-grid #grid [dataSource]='data'  allowSorting=true allowPaging=true allowSearching=true allowSelection=true allowFiltering=true [pageSettings]='pageSettings' [toolbar]='toolbar' (rowSelected)='rowSelected($event)'>
      <e-columns>
          <e-column field='companyName' headerText='Company Name' width='120' textAlign='Center'></e-column>
          <e-column field='companyCode' headerText='Company Code' width='120' textAlign='Center'></e-column>
          <e-column field='sectorName' headerText='Sector' width='120' textAlign='Center'></e-column>
          <e-column field='exchangeName' headerText='Exchange' width='120' textAlign='Center'></e-column>
          <e-column field='ceoName' headerText='CEO' width='120' textAlign='Center'></e-column>
          <e-column field='turnOver' headerText='Turnover' width='120' textAlign='Center'></e-column>
          <e-column field='brief' headerText='Brief' width='120' textAlign='Center'></e-column>
      </e-columns>
  </ejs-grid>
</div>