<div id="action-description">
  <p>IPO table list shows the recently IPOs with the details</p>
</div>
<div class="control-section">
  <ejs-grid #grid [dataSource]='data'  allowSorting=true allowGrouping=true allowPaging=true 
  allowSearching=true allowSelection=true allowFiltering=true [pageSettings]='pageSettings' 
  [toolbar]='toolbar' (rowSelected)='rowSelected($event)' (dataBound)='dataBound()' (created)='created()' (load)='load()'>
      <e-columns>
          <e-column field='CompanyName' headerText='Company Name' width='140' textAlign='Center'></e-column>
          <e-column field='Sector' headerText='Sector' width='100' textAlign='Center'></e-column>
          <e-column field='Stockexchange' headerText='Exchange' width='120' textAlign='Center'></e-column>
          <e-column field='PricePerShare' headerText='Price Per Share' width='140' textAlign='Center'></e-column>
          <e-column field='TotalNumberShares' headerText='Total Number of Shares' width='160' textAlign='Center'></e-column>
          <e-column field='OpenDateTime' headerText='Open Date' width='120' textAlign='Center'></e-column>
          <e-column field='Remarks' headerText='Remarks' width='100' textAlign='Center'></e-column>
      </e-columns>
  </ejs-grid>
  <ejs-dialog #alertDialog [buttons]='alertDlgButtons' [visible]='hidden' [header]='alertHeader' [animationSettings]='animationSettings' [content]='alertContent' [showCloseIcon]='showCloseIcon' [target]='target' [width]='alertWidth'>
  </ejs-dialog>
</div>